<!DOCTYPE html>
<html>
<head>
    <title>Redeye - A Ludom Dare game by Jesse Andersen</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href="css/main.css" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="js/crafty.js"></script>
    <script src="js/ludum.js"></script>
</head>
<body>
<div id="content">
    {{ content }}
</div>
</body>
</html>